@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model KuanfiKanjiWeb.Models.KanjiModel
@{
    ViewData["Title"] = "Index";
}
<form method="get">
<div class="row">
    <div class="col-md-4">
        <div class="form-group" style="font-size:30px;">
            <label class="control-label">Select Lesson To Learn</label><br />
            @Html.DropDownList("kanjiSet", null, new {
            @class="btn btn-dark dropdown-toggle",
            @style="width:100%; font-size:25px;",
            onchange="document.location.href='/LearnKanji/Index?value='+this.value;"
            })
        </div>
    </div>
</div>
<br />
<label class="control-label h3">Total Words: @ViewBag.totalWords</label>
<br />
<label class="control-label h3">Learned: @ViewBag.learned</label>
<br />
<label class="control-label h3">Not Learned: @ViewBag.notLearned</label>
<br />
<br />
    <button asp-controller="LearnKanji" asp-action="Learn" asp-route-value=this.value type="submit" 
    class="btn btn-outline-dark" id="btnStart" style="width:200px; font-size:30px; margin-left:100px;">START!</button>
</form>